<%- include('inc/cabecalho') %>

    <section class="second-main">
      <div class="second-content">
        <h2 class="second-title">Open Rules</h2>
      </div>
      <div class="container list-container">
        <% categorias.forEach(item => { %>
          <article>
              <h3><%- item.categoria %></h3>
              <ul class="list-vaga">
                 <% item.vagas.forEach((item,key) => { %>
                    <li><b><%- key+1 %></b>-<a href="vaga/<%- item.id %>"><%- item.title %></a></li>
                  <% }) %>
              </ul>
            </article>
        <% }) %>
      </div>
    </section>

<%- include('inc/footer') %>